<launch>
    <!-- 
        Usage: roslaunch odin_ros_driver odin1_ros1.launch
    -->
    
    <!-- Set node name -->
    <arg name="node_name" default="host_sdk_sample"/>
    
    <!-- Set parameter file path -->
    <arg name="config_file" default="$(find odin_ros_driver)/config/control_command.yaml"/>
    
    <!-- Set RViz configuration file path -->
    <arg name="rviz_config" default="$(find odin_ros_driver)/config/odin_ros.rviz"/>
    
    <!-- Launch main node -->
    <node name="$(arg node_name)" pkg="odin_ros_driver" type="host_sdk_sample" output="screen">
        <param name="config_file" value="$(arg config_file)"/>
    </node>

    <node pkg="odin_ros_driver" type="pcd2depth_node" name="pcd2depth_node" output="screen" >
        <rosparam command="load" file="$(find odin_ros_driver)/config/control_command.yaml"/>
        <param name="calib_file_path" value="$(find odin_ros_driver)/config/calib.yaml"/>
    </node>

    <node pkg="odin_ros_driver" type="cloud_reprojection_node" name="cloud_reprojection_node" output="screen" >
        <rosparam command="load" file="$(find odin_ros_driver)/config/control_command.yaml"/>
        <param name="calib_file_path" value="$(find odin_ros_driver)/config/calib.yaml"/>
    </node>

    <!-- Image overlay node - overlays reprojected points on camera image -->
    <node pkg="odin_ros_driver" type="image_overlay_node" name="image_overlay_node" output="screen" >
        <rosparam command="load" file="$(find odin_ros_driver)/config/control_command.yaml"/>
    </node>
    
    <!-- Launch RViz with configuration -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen"/>
</launch>